$naranjo: #ffb912;
$morado: #9915c7;
$salmon: #d9adb5;
$dust: #d8d8d8;
$celeste: rgb(102, 184, 201);
$amarillo: rgb(250, 201, 32);

$mobile: 769px;
$tablet: 1024px;
$desktop: 1216px;
$widescreen: 1408px;

body {
	font-family: 'Poppins', sans-serif;
	font-weight: 700;
}

.paso {
	margin-top: 2em;
	margin-bottom: 2em;
}

#portada {
	background-color: $morado;
	background-image: url("images/aliens/inv.webp");
	background-position: center center;
    background-repeat: no-repeat;
    background-size: 40%;
    #imagen_portada {
        display: none;
    } 
    @media(max-width: $mobile) {
        #imagen_portada {
            display: block;
        }
        background-image: none;
    }
}

.logo {
	color: $dust;
	letter-spacing: 1px;
	transition: letter-spacing 0.5s ease, color 0.5s ease;
	&:hover {
		letter-spacing: 3px;
		color: $salmon;
	}
}

#header-logo {
  background: url("images/logo.png") no-repeat center center;
  background-size: cover;
  width: 230px;
}

.button {
	background-color: $salmon;
	border-color: black;
	border-width: 2px;
	padding: 20px;
	color: black;
	box-shadow: 8px -8px 0 -2px #6f7fb0,8px -8px 0 0 black;
	transition: box-shadow 0.3s ease-in-out, color 0.3s ease-in-out;
	&:hover {
		border-color: black;
		box-shadow: 4px -4px 0 -2px #6f7fb0, 4px -4px 0 0 black;
		color: white;
	}
}

.fondo {
	background-color: $naranjo;
}

a:hover {
	cursor: pointer;
}

.bold {
	font-weight: 700;
}

.texto {
	text-align: justify;
}

.grande {
	font-size: 15em;
	color: $morado;
}

.fondo_texto > span {
    padding: 0.1em;
    color: white;
	background-color: rgba(153, 21, 199, 0.8);
    @media(max-width: $mobile) {
        background-color: transparent;
    }
}

.seccion2{
    background-color: $amarillo;
}

#seccion3 {
    background-color: $celeste;
}

.trio {
    width: 100%;
    height: 100%;
    object-fit: contain;
}
